manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'ProtoPsych PGS - PGS pipeline developed for the LF grant'
    mainScript = 'main.nf'
}

// Hard-coded paths that might change, depending on cluster/storage

params {
    help = false
    bfile                            = "/faststorage/jail/project/cross_disorder_2/data/prune_for_grm/iPSYCH2012_EurUnrel_imputed_pruned"
    genotypes                        = "$projectDir/json/iPSYCH2012_imputed_2021_QCed.json"
    phenoCovFile                     = "/faststorage/jail/project/cross_disorder_2/data/skizo2015I.txt"
    outcome                          = "binary"
    phenotype                        = "skizo2015I"
    covariates                       = "Age,Sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10"
    loco                             = "TRUE"
    n_threads                        = 28
    overwrite                        = "TRUE"
    inv_normalize_qt                 = "TRUE"
    null_glmm_script_path            = "/faststorage/jail/project/cross_disorder_2/env/xdx_2/bin/step1_fitNULLGLMM.R"
    single_variant_assoc_script_path = "/faststorage/jail/project/cross_disorder_2/env/xdx_2/bin/step2_SPAtests.R"
    plot_assoc_path                  = "$projectDir/bin/plot_assoc.R"
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    errorStrategy = 'retry'
    maxRetries = 2
}

process {
    withLabel: big_mem {
        cpus = 1
        memory = { 32.GB * task.attempt }
        time = '72h'
        clusterOptions = '--account=cross_disorder_2'
    }
}

process {
    withLabel: mod_mem {
        cpus = 1
        memory = { 16.GB * task.attempt }
        time = '24h'
        clusterOptions = '--account=cross_disorder_2'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = '24h'
        clusterOptions = '--account=cross_disorder_2'
    }
}